name: Pipeline
on:
  pull_request:
    branches:
    - master
  push:
    branches:
      - master
      # - auto-update-sources-*
jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
      - name: fmt
        run: |
          find . -iname '*.nix' | xargs nix shell -f ./ nixpkgs-fmt -c nixpkgs-fmt --check

  native-linux:
    strategy:
      fail-fast: false
      matrix:
        setup:
          - { ocaml-version: 4_12, continue-on-error: false }
          - { ocaml-version: 4_13, continue-on-error: false }
          - { ocaml-version: 4_14, continue-on-error: false }
          - { ocaml-version: 5_00, continue-on-error: false }
    name: Native packages (Linux, OCaml ${{ matrix.setup.ocaml-version }})
    runs-on: ubuntu-latest
    env:
      NIXPKGS_ALLOW_UNFREE: 1
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          github_token: ${{ secrets.GH_PAT_ANMONTEIRO }}

      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
      - uses: cachix/cachix-action@v10
        with:
          name: anmonteiro
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
      - name: Build nix packages
        run: |
          # nix shell --print-build-logs -f ./ nix-build-uncached -c \
              nix-build ./ci \
                --argstr ocamlVersion ${{ matrix.setup.ocaml-version }} \
                --argstr target native \
                --show-trace --keep-going
        continue-on-error: ${{ matrix.setup.continue-on-error }}

  top-level-packages-linux:
    strategy:
      fail-fast: false
    name: Native (Top-level) packages (Linux)
    runs-on: ubuntu-latest
    env:
      NIXPKGS_ALLOW_UNFREE: 1
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          github_token: ${{ secrets.GH_PAT_ANMONTEIRO }}
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
      - uses: cachix/cachix-action@v10
        with:
          name: anmonteiro
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
      - name: Build nix packages
        run: |
          # nix shell --print-build-logs -f ./ nix-build-uncached -c \
              nix-build ./ci \
                --arg ocamlVersion null \
                --argstr target top-level-packages \
                --show-trace --keep-going

  native-macos:
    strategy:
      fail-fast: false
      matrix:
        setup:
          - { ocaml-version: 4_12, continue-on-error: false }
          - { ocaml-version: 4_13, continue-on-error: false }
          - { ocaml-version: 4_14, continue-on-error: false }
          - { ocaml-version: 5_00, continue-on-error: false }
    name: Native packages (macOS, OCaml ${{ matrix.setup.ocaml-version }})
    runs-on: macos-latest
    env:
      NIXPKGS_ALLOW_UNFREE: 1
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          github_token: ${{ secrets.GH_PAT_ANMONTEIRO }}
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
      - uses: cachix/cachix-action@v10
        with:
          name: anmonteiro
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
      - name: Build nix packages
        run: |
          # nix shell --print-build-logs -f ./ nix-build-uncached -c \
              nix-build ./ci \
                --argstr ocamlVersion ${{ matrix.setup.ocaml-version }} \
                --argstr target native \
                --show-trace --keep-going
        continue-on-error: ${{ matrix.setup.continue-on-error }}

  top-level-packages-macos:
    strategy:
      fail-fast: false
    name: Native (Top-level) packages (macOS)
    runs-on: macos-latest
    env:
      NIXPKGS_ALLOW_UNFREE: 1
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          github_token: ${{ secrets.GH_PAT_ANMONTEIRO }}
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
      - uses: cachix/cachix-action@v10
        with:
          name: anmonteiro
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
      - name: Build nix packages
        run: |
          nix shell --print-build-logs -f ./ nix-build-uncached -c \
              nix-build-uncached ./ci \
                --arg ocamlVersion null \
                --argstr target top-level-packages \
                --show-trace --keep-going

  cross-compilers:
    needs: [native-linux]
    strategy:
      fail-fast: false
      matrix:
        setup:
          - { ocaml-version: 4_12, continue-on-error: false }
          - { ocaml-version: 4_13, continue-on-error: false }
          - { ocaml-version: 4_14, continue-on-error: false }
          - { ocaml-version: 5_00, continue-on-error: false }
        target:
          - arm64
          - musl
    name: ${{matrix.target}} packages (OCaml ${{ matrix.setup.ocaml-version }})
    runs-on: ubuntu-latest
    env:
      NIXPKGS_ALLOW_UNFREE: 1
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          github_token: ${{ secrets.GH_PAT_ANMONTEIRO }}

      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
      - uses: cachix/cachix-action@v10
        with:
          name: anmonteiro
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
      - name: Build nix packages
        run: |
          nix shell --print-build-logs -f ./ nix-build-uncached -c \
              nix-build-uncached ./ci \
                --argstr ocamlVersion ${{ matrix.setup.ocaml-version }} \
                --argstr target ${{ matrix.target }} \
                --show-trace --keep-going
        continue-on-error: ${{ matrix.setup.continue-on-error }}
